@mixin item-position($top: auto, $right: auto, $bottom: auto, $left: auto){
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

@mixin item-center(){
    position: static !important; 
    margin: 20px auto !important; 
    text-align: center !important; 
}