@media only screen and (max-width: 310px) {
    nav {
        .logo {
            a {
                img{
                    display: none;
                }
            }
        }
    }
}

@media only screen and (max-width: 450px) {

    section {
        .center {
            .list_container{
                width: 200px !important;
            }
        }
    }

    header{
        height: 400px !important;
        padding-top: 100px !important;
    }

    nav{
        justify-content: space-between !important;
        height: 30px !important;

        .links{
            margin: 3px 0 !important;
            margin: 0 !important;  
        }

        .logo{
            margin: 0 !important;  

            a {
                img{
                    width: 32px !important;
                    padding: 0 20px;
                }
            }
        }
    }

    .items {
        width: 85% !important;
        padding: 0 !important;
    }

    
   

    header{
        .main_container{
            .item0{
                @include item-center;
            }
        }
    }

    section{
        .main_container{
            .item1, .item2, .item3{
                @include item-center;
            }
        }
    }

    .main_container {
        .item0{
            padding: 10px 10px 0 10px !important;
            border-radius: 30px !important;
            box-sizing: border-box !important;
        }
    }


}

@media only screen and (max-width: 600px) {
    
    header{
        background-position: -120px !important;
    }

    .items{
        padding: 10px 20px 0 !important;
    }
       .main_container {
            .item0{
                @include item-position($top: 78px !important, $left: -10px !important) ;
                box-sizing: content-box;
                padding-left: 300px;
                border-radius: 0 30px 0 0;
            }
       }

    section {
        .items {
            width: 90%;
            padding: 10px 10px 0 10px;
        }
    }

    header{
        .main_container{
            .item0{
                @include item-center;
            }
        }
    }

    section{
        .main_container{
            .item1, .item2, .item3{
                @include item-center;
            }
        }
    }

    .items {
        .buttons{
            display: flex;
            justify-content: center;
            gap: 5px;
            padding-top: 20px;
            position: static;
        }
    }

    section {
        .bigger{
            display: none;
        }
    }

    nav{
        padding: 0;
        height: 50px;

        .logo {
            a {
                img{
                    width: 50px;
                }
            }
        }

        ul {
            li {
                padding-bottom: 0;
            }

            a {
                padding: 0;
                font-size: 8px;
            }
        }
    }

    .boxs{
        .box{
            flex: auto;
            padding: 30px;
        }
    }

    .service_help{
        padding: 20px 0 10px 0;
    }

    section {
        h1{
            text-align: center;
        }
    }
}

@media only screen and (max-width: 800px) {
    header{
        margin: 30px auto 0 auto;
    }
    
    .items{
        padding: 20px 20px 50px 20px;
        width: 230px;
    }

    .main_container {
        .item1{
            @include item-position($top: -100px, $right: 10px);
        }

        .item2{
            @include item-position($top: 80px, $left: 30px);
        }

        .item3{
            @include item-position($bottom: 50px, $left: 350px);
        }

        .item0{
            @include item-position($top: 70px, $left: -200px);
            box-sizing: content-box;
            padding-left: 300px;
            border-radius: 0 30px 0 0;

            .buttons{
                left: 210px;
            }
        }
    }

    .boxs {
        .box{
            margin: 0 6px;
        }
    }

    nav {
        ul {
            li {
                a {
                    padding: 0 14px;
                }
            }
        }
    }
}